*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


#chart{
  background-color: aqua;
}

.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    cursor: pointer;
    fill: orange;
  }
  

  