* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html{
  overflow-anchor: hidden;
}
body {
  background-color: beige;
  
}



/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CCEABF;
  height: 5pc;
}

#header-izquierda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
}

#texto-header-izquierda {
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 50px;
  color: #149D3F;
}


#logoVerde {
  width: 60px;
  height: 60px;
}

#header-derecha {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 30px;
  padding-top: 10px;
}

#logoIcfes {
  width: 160px;
  height: 60px;
}


/* MAIN */
.title {
  font-family: 'Paytone One', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.texto {
  font-family: 'Comfortaa', sans-serif;
}

#custom-hr {
  width: 90%;
  /* Establece el ancho del hr al 80% del contenedor padre */
  margin: 0 auto; /* Centra el hr horizontalmente en la página */
  border: 2px solid #18601C;
}


/* SECTION DEL BACKGROUND DEL ICFES */
#texto-bg-icfes {
  color: #CCEABF;
  font-size: 85px;
  text-align: center;
}

#bg-icfes {
  height: 40pc;
  background-image: url('img/imgDeFondo.png');
  /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center center;
  /* Centra la imagen en el contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SECTION IMPORTANCIA */

#importancia {
  background-color: beige;
  padding-bottom: 20px;
}

#title-importancia {
  color: #18601C;
  padding: 40px 50px;
  font-size: 40px;
}

#texto-imagen {
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 150px;
  font-size: 20px;
  margin-bottom: 10px
}


#parrafo-importancia {
  width: 35%;
}

#img-importancia {
  width: 30pc;
  height: 30pc;
}


/* SECTION DEL MAPA DE COLOMBIA */


#titulo-promedio-por-depa {
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}




#promedio-por-depa-ORDENADO {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#texto-img-prom-depa {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#texto-prom-depa {
  font-size: 25px;
  text-align: center;
  width: 70%;
}



/* SECTION BARRAS ESTRATOS */

#titulo-barras-estratos{
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}

#barrasMasBotones{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
}






/* CIRCULO INGLÉS */
#titulo-circulo-ingles{
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}



/* BARRAS COLEGIO PUBLICO O PRIVADO */

#prom-colegio div{
display: flex;
justify-content: center;
padding-top: 2%;
}
#titulo-prom-colegio{
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}

#texto-prom-colegio{
  width: 70%;
  text-align: center;
}


/* DONUT */

#titulo-cant-people-puntaje{
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}


/* MUJER Y HOMBRE */

#titulo-barras-genero{
  color: #18601C;
  padding: 30px 40px;
  font-size: 45px;
  text-align: CENTER;
  padding-left: 250px;
  padding-right: 250px;
}



/* CSS DE FOOTER */

footer{
  background-color: #18601C;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 5px 10px;
}
#footer-izquierda{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
#ruta-img{
  display: flex;
  align-items: center;
  gap: 20px;
}
#texto-footer-izquierda{
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 30px;
  color: #149D3F
}

#logoVerde-footer{
  width: 30px;
  height: 30px;
}


#footer-izquierda p, #footer-derecha p{
  color: #4BB966;
}



a {
  cursor: pointer;
}