   .mapa-colombia {
     position: relative;
    /* width: 90vh;
    min-width: 360px; */
  } 
  
  .color-departamento-estandar {
    /* fill es equibalente a bacground-color */
    fill: black;
    /* stroke es el color del borde */
    stroke: white;
  }
  
  .color-departamento-estandar:hover {
    fill: #0F664A;
    stroke: white;
  }
  
  .departamento-seleccionado{
      fill: #0F664A;
  }

  
  #info-dep-avg{
    background-color: bisque;
    
    border-radius: 3rem;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 100px;
  }

  #nombre-depa{
    font-weight: bold;
    width: 50%;
  }
  