#chart-ingles{
    padding: 30px 5px 30px 5px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  #info-chart-ingles{
    display: grid;
    grid-template-rows: repeat(5,1fr);
  }



  .color-CI{
    padding: 15px;
    border-radius: 50%;
  }


  #uno-CI, #dos-CI, #tres-CI, #cuatro-CI, #cinco-CI{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 70%;
    padding-left: 45%;
  }


  #color-1-CI{
    background-color:#0369B0 ;
  }
  #color-2-CI{
    background-color:#a0cf67 ;
  }

  #color-3-CI{
    background-color:#7790c3;
  }

  #color-4-CI{
    background-color:#4e9399;
  }

  #color-5-CI{
    background-color:#7fb382;
  }



